<div id="reLoader" class="d-none">
    <div class="re-loader">

    </div>
    <div class="re-loader-content text-center">
        <div class="spinner-border">
            <span class="sr-only"></span>
        </div>
    </div>
</div>
